<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/styles.css" />
        <title>Cats</title>
    </head>

    <body>
        <p class="title">Cats</p>
        <div class="container">
            <% cats.forEach((cat) => { %>
            <div class="cats-container">
                <img src="<%=cat.img %>" alt="<%=cat.name %>" />
                <p class="cats-name"><%= cat.name %></p>
                <p>Age : <%= cat.age %></p>
            </div>
            <% }); %>
        </div>
    </body>
</html>
